In [1]:
from pyspark.sql import SparkSession
import pandas as pd
import json

In [2]:
spark = SparkSession.builder.appName("python Spark Session").getOrCreate()

23/03/19 11:13:36 WARN Utils: Your hostname, mixer-desktop resolves to a loopback address: 127.0.1.1; using 192.168.1.6 instead (on interface enp4s0)
23/03/19 11:13:36 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/19 11:13:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df = spark.read.csv('people.csv', header=True)

In [4]:
df.show()

+------+---+------+
|  name|age|height|
+------+---+------+
|  Adam| 23|  1.98|
| Fiona| 34|  1.67|
|  Mary| 26|  1.72|
|George| 21|  1.83|
+------+---+------+

In [5]:
df['age']

Column<'age'>

In [6]:
df.select(df['age'])

DataFrame[age: string]

In [7]:
df.select(df['age']).show()

+---+
|age|
+---+
| 23|
| 34|
| 26|
| 21|
+---+

In [8]:
df.select(df['age'],df['name']).show()

+---+------+
|age|  name|
+---+------+
| 23|  Adam|
| 34| Fiona|
| 26|  Mary|
| 21|George|
+---+------+

In [9]:
df.write.csv('result.csv', header=True)

AnalysisException: path file:/home/mixer/analiza_duzych_zbiorow_danych/result.csv already exists.

In [ ]:
df.write.json('result.json')

Activity: Data Conversion
Convert data from cars.data file, used on previous lesson, from CSV format to spark JSON format.
You can use pandas in this process. Notice differences between pandas JSON and spark JSON files.

In [ ]:
df_cars = spark.read.csv('cars.data', header=True)

In [ ]:
df_cars.columns

In [ ]:
df_cars.columns = ['mpg', 'cylinders', 'displacement [cu]','horsepower','weight', 'acceleration', 'year', 'origin', 'name']

In [ ]:
df_cars_json = df_cars.toJSON()

In [ ]:
df_cars_json.write.json('cars.json')

In [ ]:
df_rdd = spark.read.text('poem.txt').rdd

In [ ]:
lines = df_rdd.map(lambda line: line[0])

In [ ]:
lines.collect()

In [ ]:
splits = lines.flatMap(lambda x: x.split(' '))

In [ ]:
splits.collect()

In [ ]:
lower_splits = splits.map(lambda x: x.lower().strip().strip('.').strip(' ,').strip('-').strip(':'))

In [ ]:
lower_splits.collect()

In [ ]:
prep = ['the', 'a', ',',';','.']

In [ ]:
tokens = lower_splits.filter(lambda x: x not in prep)

In [ ]:
tokens.collect()

In [ ]:
token_list = tokens.map(lambda x: [x,1])

In [ ]:
from operator import add

In [ ]:
countwords = token_list.reduceByKey(add).sortBy(lambda x: x[1], ascending=False)

In [ ]:
countwords.collect()