In [2]:
import pyspark
import random

In [3]:
from pyspark import SparkContext
sc = SparkContext()
from pyspark.sql import SQLContext
sqlc = SQLContext(sc)

23/04/08 01:01:34 WARN Utils: Your hostname, mixer-N550JV resolves to a loopback address: 127.0.1.1; using 192.168.1.101 instead (on interface wlp4s0)
23/04/08 01:01:34 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/08 01:01:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

/home/mixer/anaconda3/lib/python3.9/site-packages/pyspark/sql/context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [7]:
df = sqlc.read.format('com.databricks.spark.csv').options(header = 'true',inferschema = 'true').load('iris_missing.csv')

In [8]:
df.show(5)

+-----------+----------+-----------+----------+-------+
|Sepallength|Sepalwidth|Petallength|Petalwidth|Species|
+-----------+----------+-----------+----------+-------+
|        5.1|       3.5|        1.4|       0.2| setosa|
|        4.9|       3.0|        1.4|       0.2| setosa|
|        4.7|       3.2|        1.3|       0.2| setosa|
|        4.6|       3.1|        1.5|       0.2| setosa|
|        5.0|       3.6|        1.4|       0.2| setosa|
+-----------+----------+-----------+----------+-------+
only showing top 5 rows

## Exercise 38: Counting Missing Values in a DataFrame

In this exercise, we will learn how to count the missing values from the PySpark DataFrame column.

In [9]:
from pyspark.sql.functions import isnan, when, count, col

2. Now, we will count the missing values in the Sepallength column of the Iris dataset loaded in the PySpark DataFrame df
object.

In [10]:
df.filter(col('Sepallength').isNull()).count()

5

In [12]:
df.filter(df['Sepallength'].isNull()).count()

5

In [11]:
df.filter(isnan('Sepallength')).count()

0

In [13]:
df.filter(isnan(df['Sepallength'])).count()

0

when(), otherwise(), alias() functions

In [15]:
c='Sepalwidth'
#df.show()
#when(col(c)>3.0,'BIG') #returns column
#df.select(when(col(c)>3.0,'BIG')).show() #returns and shows dataframe
#df.select(when(col(c)>3.0,'BIG').otherwise('SMALL')).show()
#df.select(when((col(c)<4.0)&(col(c)>3.0),'BIG').when(col(c)>=4.0,'HUGE').otherwise('SMALL')).show()
#df.select(when((col(c)<4.0)&(col(c)>3.0),'BIG').when(col(c)>=4.0,'HUGE').otherwise('SMALL').alias(c)).show()
#df.select(count(when(col(c)>3.0,'BIG'))).show()
#df.select(count(when(col(c)>3.0,'BIG').alias(c))).show()
#for selecting you can ue Spark columns list:
#col1 = when(col(c)>3.0,'BIG').otherwise(0)
#col2 = when(col(c)<3.0,'SMALL').otherwise(0)
#df.select([col1,col2]).show()
#TRY to do Ex39 yourself as Activity

## Exercise 39: Counting Missing Values in All DataFrame Columns

In [17]:
from pyspark.sql.functions import isnan, when, count, col

df.select([count(when(isnan(c) | col(c).isNull(),c)).alias(c) for c in df.columns]).show()

+-----------+----------+-----------+----------+-------+
|Sepallength|Sepalwidth|Petallength|Petalwidth|Species|
+-----------+----------+-----------+----------+-------+
|          5|         4|          3|         3|      0|
+-----------+----------+-----------+----------+-------+

2. A simple way is to just use the describe() function, which gives the count of non-missing values for each column, along
with a bunch of other summary statistics. Let's execute the following command in the notebook.

In [19]:
#df.describe().show()
df.describe().show()

+-------+-----------------+-------------------+------------------+------------------+---------+
|summary|      Sepallength|         Sepalwidth|       Petallength|        Petalwidth|  Species|
+-------+-----------------+-------------------+------------------+------------------+---------+
|  count|              145|                146|               147|               147|      150|
|   mean|             5.82| 3.0582191780821923|  3.73401360544218|1.1761904761904767|     null|
| stddev|0.819349335346855|0.43672082920802746|1.7723329025952892|0.7521051126382675|     null|
|    min|              4.3|                2.0|               1.0|               0.1|   setosa|
|    max|              7.9|                4.4|               6.9|               2.5|virginica|
+-------+-----------------+-------------------+------------------+------------------+---------+

## Fetching Missing Value Records from the DataFrame