In [1]:
import pyspark
import random

In [2]:
from pyspark import SparkContext
sc = SparkContext()
from pyspark.sql import SQLContext
sqlc = SQLContext(sc)

23/04/26 16:14:46 WARN Utils: Your hostname, mixer-N550JV resolves to a loopback address: 127.0.1.1; using 192.168.237.224 instead (on interface wlp4s0)
23/04/26 16:14:46 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/26 16:14:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

/home/mixer/anaconda3/lib/python3.9/site-packages/pyspark/sql/context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [3]:
from pyspark.sql.functions import isnan, when, count, col

In [4]:
df = sqlc.read.format('com.databricks.spark.csv').options(header = 'true',inferschema = 'true').load('iris_missing.csv')

In [5]:
df.show(5)

+-----------+----------+-----------+----------+-------+
|Sepallength|Sepalwidth|Petallength|Petalwidth|Species|
+-----------+----------+-----------+----------+-------+
|        5.1|       3.5|        1.4|       0.2| setosa|
|        4.9|       3.0|        1.4|       0.2| setosa|
|        4.7|       3.2|        1.3|       0.2| setosa|
|        4.6|       3.1|        1.5|       0.2| setosa|
|        5.0|       3.6|        1.4|       0.2| setosa|
+-----------+----------+-----------+----------+-------+
only showing top 5 rows

## Exercise 38: Counting Missing Values in a DataFrame

In this exercise, we will learn how to count the missing values from the PySpark DataFrame column.

In [6]:
from pyspark.sql.functions import isnan, when, count, col

2. Now, we will count the missing values in the Sepallength column of the Iris dataset loaded in the PySpark DataFrame df
object.

In [7]:
df.filter(col('Sepallength').isNull()).count()

5

In [8]:
df.filter(df['Sepallength'].isNull()).count()

5

In [9]:
df.filter(isnan('Sepallength')).count()

0

In [10]:
df.filter(isnan(df['Sepallength'])).count()

0

when(), otherwise(), alias() functions

In [11]:
c='Sepalwidth'
df.show()
# when(col(c)>3.0,'BIG')#   to zwraca kolumny i pisze BIG gdy >3.0
df.select(when(col(c)>3.0,'BIG').alias(c+'te ktore sa wieksze od 3')).show() #returns and shows dataframe
#df.select(when(col(c)>3.0,'BIG').otherwise('SMALL')).show()
#df.select(when((col(c)<4.0)&(col(c)>3.0),'BIG').when(col(c)>=4.0,'HUGE').otherwise('SMALL')).show()
#df.select(when((col(c)<4.0)&(col(c)>3.0),'BIG').when(col(c)>=4.0,'HUGE').otherwise('SMALL').alias(c)).show()
#df.select(count(when(col(c)>3.0,'BIG'))).show()
#df.select(count(when(col(c)>3.0,'BIG').alias(c))).show()
#for selecting you can ue Spark columns list:
# col1 = when(col(c)>3.0,'BIG').otherwise(0).alias('c>3.0,BIG')
# col2 = when(col(c)<3.0,'SMALL').otherwise(0).alias('c<3')
# df.select([col1,col2]).show()
#TRY to do Ex39 yourself as Activity

+-----------+----------+-----------+----------+-------+
|Sepallength|Sepalwidth|Petallength|Petalwidth|Species|
+-----------+----------+-----------+----------+-------+
|        5.1|       3.5|        1.4|       0.2| setosa|
|        4.9|       3.0|        1.4|       0.2| setosa|
|        4.7|       3.2|        1.3|       0.2| setosa|
|        4.6|       3.1|        1.5|       0.2| setosa|
|        5.0|       3.6|        1.4|       0.2| setosa|
|        5.4|       3.9|        1.7|       0.4| setosa|
|        4.6|       3.4|        1.4|       0.3| setosa|
|        5.0|       3.4|        1.5|       0.2| setosa|
|        4.4|       2.9|        1.4|       0.2| setosa|
|        4.9|       3.1|        1.5|       0.1| setosa|
|        5.4|       3.7|        1.5|       0.2| setosa|
|        4.8|       3.4|        1.6|       0.2| setosa|
|        4.8|       3.0|        1.4|       0.1| setosa|
|        4.3|       3.0|        1.1|       0.1| setosa|
|        5.8|       4.0|        1.2|       0.2| setosa|
|        5.7|       4.4|        1.5|       0.4| setosa|
|        5.4|       3.9|        1.3|       0.4| setosa|
|        5.1|       3.5|        1.4|       0.3| setosa|
|        5.7|       3.8|        1.7|       0.3| setosa|
|        5.1|       3.8|        1.5|       0.3| setosa|
+-----------+----------+-----------+----------+-------+
only showing top 20 rows

+----------------------------------+
|Sepalwidthte ktore sa wieksze od 3|
+----------------------------------+
|                               BIG|
|                              null|
|                               BIG|
|                               BIG|
|                               BIG|
|                               BIG|
|                               BIG|
|                               BIG|
|                              null|
|                               BIG|
|                               BIG|
|                               BIG|
|                              null|
|                              null|
|                               BIG|
|                               BIG|
|                               BIG|
|                               BIG|
|                               BIG|
|                               BIG|
+----------------------------------+
only showing top 20 rows

## Exercise 39: Counting Missing Values in All DataFrame Columns

In [12]:
from pyspark.sql.functions import isnan, when, count, col

df.select([count(when(isnan(c) | col(c).isNull(),c)).alias(c) for c in df.columns]).show()

+-----------+----------+-----------+----------+-------+
|Sepallength|Sepalwidth|Petallength|Petalwidth|Species|
+-----------+----------+-----------+----------+-------+
|          5|         4|          3|         3|      0|
+-----------+----------+-----------+----------+-------+

2. A simple way is to just use the describe() function, which gives the count of non-missing values for each column, along
with a bunch of other summary statistics. Let's execute the following command in the notebook.

In [13]:
#df.describe().show()
df.describe().show()

+-------+-----------------+-------------------+------------------+------------------+---------+
|summary|      Sepallength|         Sepalwidth|       Petallength|        Petalwidth|  Species|
+-------+-----------------+-------------------+------------------+------------------+---------+
|  count|              145|                146|               147|               147|      150|
|   mean|             5.82| 3.0582191780821923|  3.73401360544218|1.1761904761904767|     null|
| stddev|0.819349335346855|0.43672082920802746|1.7723329025952892|0.7521051126382675|     null|
|    min|              4.3|                2.0|               1.0|               0.1|   setosa|
|    max|              7.9|                4.4|               6.9|               2.5|virginica|
+-------+-----------------+-------------------+------------------+------------------+---------+

## Fetching Missing Value Records from the DataFrame

We can also filter out the records containing the missing value entries from the PySpark DataFrame using the following
code:

In [14]:
df.where(col('Sepallength').isNull()).show()

+-----------+----------+-----------+----------+----------+
|Sepallength|Sepalwidth|Petallength|Petalwidth|   Species|
+-----------+----------+-----------+----------+----------+
|       null|       2.4|        3.7|       1.0|versicolor|
|       null|       3.1|        4.7|       1.5|versicolor|
|       null|      null|       null|       1.2|versicolor|
|       null|       3.8|        6.7|      null| virginica|
|       null|      null|       null|      null| virginica|
+-----------+----------+-----------+----------+----------+

## Exercise 40: Removing Records with Missing Values from a DataFrame

In this exercise, we will remove the records containing missing value entries for the PySpark DataFrame. Let's perform the
following steps.

1. To remove the missing values from a particular column, use the following command:

Usuwa Nan i zlicza ile jest po usuniÄ™ciu !!!

In [15]:
df.select('Sepallength').dropna().count()

145

In [16]:
df.count()

150

In [17]:
df.dropna().count()

143

In [18]:
df.count()

150

In [19]:
df.count()

150

### Exercise 41: Filling Missing Values with a Constant in a DataFrame Column

In this exercise, we will replace the missing value entries of the PySpark DataFrame column with a constant numeric
value.

1. Let's replace the missing value entries in two columns with a constant numeric value of 1.

In [20]:
colNames = ['Sepallength','Sepalwidth']
y = df.select(colNames).fillna(1)

Now, let's count the missing values in the new DataFrame, y, that we just created. The new DataFrame should have no
missing values:

In [21]:
y.select([count(when(isnan(i) | col(i).isNull(), i)).alias(i) for i in y.columns]).show()

+-----------+----------+
|Sepallength|Sepalwidth|
+-----------+----------+
|          0|         0|
+-----------+----------+

### Correlation

In [22]:
df = sqlc.read.format('com.databricks.spark.csv').options(header = 'true',inferschema = 'true').load('iris_missing.csv')

In [23]:
df.corr('Sepallength', 'Sepalwidth')

0.150594543846508