### Exercise 47: Reading Data from a CSV File Using the PySpark Object

In [1]:
import os
import pandas as pd
import numpy as np
import collections
from sklearn.base import TransformerMixin
import random
import pandas_profiling

/tmp/ipykernel_16836/4199512811.py:7: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  import pandas_profiling

In [2]:
import seaborn as sns
import time
import re
import matplotlib.pyplot as plt

In [3]:
sns.set(style="ticks")

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('ml-bank').getOrCreate()

23/05/12 10:16:52 WARN Utils: Your hostname, mixer-N550JV resolves to a loopback address: 127.0.1.1; using 192.168.1.101 instead (on interface wlp4s0)
23/05/12 10:16:52 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/05/12 10:16:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
df_csv = spark.read.csv('../bank/bank.csv', sep=';', header = True, inferSchema = True)

In [6]:
df_csv.columns

['age',
 'job',
 'marital',
 'education',
 'default',
 'balance',
 'housing',
 'loan',
 'contact',
 'day',
 'month',
 'duration',
 'campaign',
 'pdays',
 'previous',
 'poutcome',
 'y']

In [7]:
df_csv.select(df_csv['age'],df_csv['job']).show()

+---+-------------+
|age|          job|
+---+-------------+
| 30|   unemployed|
| 33|     services|
| 35|   management|
| 30|   management|
| 59|  blue-collar|
| 35|   management|
| 36|self-employed|
| 39|   technician|
| 41| entrepreneur|
| 43|     services|
| 39|     services|
| 43|       admin.|
| 36|   technician|
| 20|      student|
| 31|  blue-collar|
| 40|   management|
| 56|   technician|
| 37|       admin.|
| 25|  blue-collar|
| 31|     services|
+---+-------------+
only showing top 20 rows

In [8]:
df_csv.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

### Exercise 48: Reading Data in PySpark and Carrying Out SQL Operations

In [9]:
df_csv.describe().show()

+-------+------------------+-------+--------+---------+-------+------------------+-------+----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+----+
|summary|               age|    job| marital|education|default|           balance|housing|loan| contact|               day|month|          duration|          campaign|             pdays|          previous|poutcome|   y|
+-------+------------------+-------+--------+---------+-------+------------------+-------+----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+----+
|  count|              4521|   4521|    4521|     4521|   4521|              4521|   4521|4521|    4521|              4521| 4521|              4521|              4521|              4521|              4521|    4521|4521|
|   mean| 41.17009511170095|   null|    null|     null|   null|1422.6578190665782|   null|null|    null|15.915284229152842| null|263.96129174961294| 2.793629727936297|39.766644547666445|0.5425790754257908|    null|null|
| stddev|10.576210958711263|   null|    null|     null|   null|3009.6381424673395|   null|null|    null| 8.247667327229934| null|259.85663262468216|3.1098066601885823|100.12112444301656|1.6935623506071211|    null|null|
|    min|                19| admin.|divorced|  primary|     no|             -3313|     no|  no|cellular|                 1|  apr|                 4|                 1|                -1|                 0| failure|  no|
|    max|                87|unknown|  single|  unknown|    yes|             71188|    yes| yes| unknown|                31|  sep|              3025|                50|               871|                25| unknown| yes|
+-------+------------------+-------+--------+---------+-------+------------------+-------+----+--------+------------------+-----+------------------+------------------+------------------+------------------+--------+----+

In [10]:
df_csv.select(df_csv['age'],df_csv['job']).describe().show()

+-------+------------------+-------+
|summary|               age|    job|
+-------+------------------+-------+
|  count|              4521|   4521|
|   mean| 41.17009511170095|   null|
| stddev|10.576210958711263|   null|
|    min|                19| admin.|
|    max|                87|unknown|
+-------+------------------+-------+

In [11]:
df_csv.head(1)[0]

Row(age=30, job='unemployed', marital='married', education='primary', default='no', balance=1787, housing='no', loan='no', contact='cellular', day=19, month='oct', duration=79, campaign=1, pdays=-1, previous=0, poutcome='unknown', y='no')

In [12]:
df_csv.select('age','job').show(5)

+---+-----------+
|age|        job|
+---+-----------+
| 30| unemployed|
| 33|   services|
| 35| management|
| 30| management|
| 59|blue-collar|
+---+-----------+
only showing top 5 rows

#### Tabela przestawna crosstab

In [13]:
df_csv.crosstab('y', 'marital').show()

+---------+--------+-------+------+
|y_marital|divorced|married|single|
+---------+--------+-------+------+
|       no|     451|   2520|  1029|
|      yes|      77|    277|   167|
+---------+--------+-------+------+

In [19]:
sample1 = df_csv.sample(False, 0.2,23 )

In [20]:
sample1.count()

912

In [16]:
df_csv.count()

4521

### Exercise 49: Creating and Merging Two DataFrames